.componente-lista__container {
  display: flex;
  justify-content: space-around;
  padding: 1em 4em 0.7em 1.5em;
  border-radius: 5px;
  align-items: center;
  border: 1px solid var(--preto-principal);
  min-width: 1000px;
}

.componente-lista__tooltip-img {
  background-color: black;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.componente-lista__tooltip-img:hover {
  cursor: pointer;
}

.componente-lista__img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: top center;
  z-index: 1;
}

.componente-lista__img:hover {
  opacity: 0.5;
}

.componente-lista__caixa {
  min-width: 160px;
}

.componente-lista__titulo {
  color: var(--branco-secundario);
  font-family: var(--fonte-secundaria);
  font-weight: 700;
  font-size: 1.25em;
  text-align: center;
}

.componente-lista__conteudo {
  text-align: center;
  text-transform: uppercase;
  color: var(--dourado);
  font-family: var(--fonte-quaternaria);
  font-weight: 700;
  font-size: 1.25em;
  padding-top: 0.5em;
}

.componente-lista__botao {
  background-color: var(--dourado);
  border: transparent;
  width: 8.25rem;
  height: 2.625rem;
  border-radius: 10px;
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 1.25em;
}

.componente-lista__botao:hover {
  cursor: pointer;
  background-color: #92753e;
}

.componente-lista__container.par {
  background-color: var(--azul-marinho);
}

.componente-lista__container.par img {
  border: 2px solid var(--branco-principal);
}


.componente-lista__container.impar {
  background-color: var(--branco-principal);
}

.componente-lista__container.impar h2 {
  color: var(--preto-principal);
}

.componente-lista__container.impar button {
  background-color: var(--verde-agua);
}

.componente-lista__container.impar button:hover {
  background-color: #009cb4;
}

.componente-lista__container.impar img {
  border: 2px solid var(--preto-principal);
}