.header__container {
    background-color: var(--verde-agua);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em 1.5em 1.5em;
    position: fixed;
    top:0;
    width: 100%;
}

.header__img {
    width: 16.875em;
    height: 8.25em;
}

.header__lado-direito {
    display: flex;
    gap: 5em;
}

.header__texto {
    color: var(--branco-secundario);
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 20px;
    width: 8.5em;
    line-height: 1.2em;
}

.header__botao {
    margin-right: 6em;
    background-color: transparent;
    border: transparent;
}

.header__botao:hover {
    cursor: pointer;
}

.header__botao-icone:hover {
    filter: invert(80%) sepia(0%) saturate(3533%) hue-rotate(211deg) brightness(118%) contrast(87%);
}